@page "/viewer/{urn64}/{uri64}"

@inject ForgeApiService ForgeApiService;


<div class="container-fluid d-flex h-100">
    <div class="flex-fill bg-warning">
        <h4>Move - Canvas: (@ForgeViewerMouseMovePosition.CanvasX, @ForgeViewerMouseMovePosition.CanvasY) World: (@Math.Round(ForgeViewerMouseMovePosition.WorldX, 2), @Math.Round(ForgeViewerMouseMovePosition.WorldY, 2)) Snapper: (@Math.Round(ForgeViewerMouseMovePosition.SnapX, 2), @Math.Round(ForgeViewerMouseMovePosition.SnapY, 2), @Math.Round(ForgeViewerMouseMovePosition.SnapZ, 2))</h4>
        <h4>Click - Canvas: (@ForgeViewerMouseClickPosition.CanvasX, @ForgeViewerMouseClickPosition.CanvasY) World: (@Math.Round(ForgeViewerMouseClickPosition.WorldX, 2), @Math.Round(ForgeViewerMouseClickPosition.WorldY, 2)) Snapper: (@Math.Round(ForgeViewerMouseClickPosition.SnapX, 2), @Math.Round(ForgeViewerMouseClickPosition.SnapY, 2), @Math.Round(ForgeViewerMouseClickPosition.SnapZ, 2))</h4>
        <input type="checkbox" @bind="snapIsOn" />Snap
        <ForgeViewerComponent OnViewerInitializedCallback="GetViewer" id="id1" UseSnapper="snapIsOn" OnMouseMove="OnMouseMove" OnMouseClick="OnMouseClick"
                              style="position: relative; height: calc(100% - 100px); width: calc(100% - 0px);">

        </ForgeViewerComponent>
    </div>
</div>


@code {

    [Parameter]
    public string urn64 { get; set; }
    [Parameter]
    public string uri64 { get; set; }

    public string uri
    {
        get
        {
            return System.Text.Encoding.UTF8.GetString(Convert.FromBase64String(uri64));
        }
    }

    bool snapIsOn { get; set; }

    ForgeViewer myViewer { get; set; }

    private void GetViewer(ForgeViewer aViewer)
    {
        myViewer = aViewer;
    }


    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnParametersSetAsync()
    {

        JObject manifestJObject = await ForgeApiService.GetManifestAsync(urn64);
        var manifestTxt = Newtonsoft.Json.JsonConvert.SerializeObject(manifestJObject, Newtonsoft.Json.Formatting.Indented);

        snapIsOn = false;

        await myViewer.Start();

        if (manifestJObject == null && uri.ToLower().EndsWith("pdf"))
        {
            await myViewer.LoadExtensionAsync("Autodesk.PDF");
            await myViewer.LoadFileAsync(uri);
        }
        else
        {
            await myViewer.LoadDocumentAsync($"urn:{urn64}");
            await myViewer.LoadNode();
        }

    }

    ForgeViewerMousePosition ForgeViewerMouseMovePosition = new ForgeViewerMousePosition();
    private void OnMouseMove(ForgeViewerMousePosition aFVMousePosition)
    {
        ForgeViewerMouseMovePosition = aFVMousePosition;
    }

    ForgeViewerMousePosition ForgeViewerMouseClickPosition = new ForgeViewerMousePosition();
    private void OnMouseClick(ForgeViewerMousePosition aFVMousePosition)
    {
        ForgeViewerMouseClickPosition = aFVMousePosition;
    }

}